name: CI
on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    container:
      image: engswee/flashpipe:2.6.0
    env:
      HOST_TMN: e700120-tmn.hci.eu2.hana.ondemand.com
      BASIC_USERID: ${{ secrets.DEV_USER_ID }} # When using Basic authentication
      BASIC_PASSWORD: ${{ secrets.DEV_PASSWORD }} # When using Basic authentication
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v2
      # Set environment variables for update_designtime_artifact.sh
      - name: 'set env'
        run: |
            echo "GIT_SRC_DIR=$GITHUB_WORKSPACE/DEMO/GITEST" >> $GITHUB_ENV
      # Upload/Update design time
      - name: 'Update/Upload Groovy XML Transformation to design time'
        run: /usr/bin/update_designtime_artifact.sh
        shell: bash
        env:
          IFLOW_ID: GITEST
          IFLOW_NAME: 'GIT TEST'
          PACKAGE_ID: ZWassim
          PACKAGE_NAME: 'Z_Wassim'
          #WORK_DIR: $GITHUB_WORKSPACE/DEMO # Optional
          #VERSION_HANDLING: <version_no_handling_during_update> # Deprecated
          #SCRIPT_COLLECTION_MAP: <comma_separated_source/target_pairs> # Optional
      #  Deploy runtime
      - name: 'Deploy Groovy XML Transformation to runtime'
        run: /usr/bin/deploy_runtime_artifact.sh
        shell: bash
        env:
          IFLOW_ID: GITEST
          DELAY_LENGTH: 15 # Optional
